POSTGRES_USER=financehub
POSTGRES_DB=financehub
POSTGRES_PASSWORD=Q74recXVtBq62Eq+Yy/UtMzS9g7PSGc9m2GPn9euUZM

DATABASE_URL="postgresql://financehub:Q74recXVtBq62Eq+Yy/UtMzS9g7PSGc9m2GPn9euUZM@localhost:5432/financehub"

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=DhNFrrlxKwaSEu7dqTpZUas5VS1UUubHL4tBjnMLScU